img {
  max-width: 30px;
  max-height: 30px;
}

.hor-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
  text-align: center;
  background-color: #f6f7fc;
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
